body {
    font-family: 'Baloo Thambi', cursive;
    margin: 0 0;
    font-size: 16px;
    background: white;
    line-height: 1;
}
h1 {
    font-size: 1.25rem;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: aqua;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.main1 {
    width: 100vw;
    height: 55vh;
    background-image: url('img0.jpg');
    background-size: 200%;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0px 0px 10px darkslategrey;
    padding: 10px 10px;
    /*-webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25); */

    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.main2 {
    width: 100vw;
    height: 45vh;
    /*background-image: linear-gradient(100deg, #fdfbfb 0%, #ebedee 100%);*/
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
 }

 .box2 {
    background-color: red;
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    opacity: 0.5;

 }

@media (min-width: 699px) {
    .container {
        width: 100%;
        height: 100vh;
        background-color: aqua;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .main1 {
        width: 45vw;
        height: 100vh;
        background-image: url('img0.jpg');
        background-size: 200%;
        background-position: center center;
        background-repeat: no-repeat;
        color: white;
        text-shadow: 0px 0px 10px darkslategrey;
        padding: 10px 10px;
        /*-webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25); */
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .main2 {
        width: 55vw;
        height: 100vh;
        /*background-image: linear-gradient(100deg, #fdfbfb 0%, #ebedee 100%);*/
        background-color: blue;
        grid-column: 2 / 3;
         grid-row: 1 / 2;
    }
  }